body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.container:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 30px rgba(0,0,0,0.2);
}

.title {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.profile-details {
    display: flex;
    align-items: flex-start;
}

.profile {
    flex: 1;
    display: flex;
    justify-content: center;
    margin-right: 20px;
}

.usuario {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.usuario img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.details {
    flex: 2;
}

.llenado_datos {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.llenado_datos li {
    margin-bottom: 15px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.llenado_datos li:hover {
    background-color: #f1f1f1;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.llenado_datos label {
    font-weight: bold;
    flex-grow: 1;
    color: #000;
    cursor: pointer;
}

.llenado_datos .toggle {
    background-color: #000;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;
}

.llenado_datos .toggle:hover {
    background-color: #333;
}

.llenado_datos input[type="text"] {
    display: none;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.black-button {
    background-color: #000;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: 100%;
    box-sizing: border-box;
}

.black-button:hover {
    background-color: #333;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 1000;
}

.logo {
    width: 100px;
    height: auto;
}

.button-group {
    display: flex;
    gap: 10px;
    padding-right: 50px;
}

.blue-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.blue-button:hover {
    background-color: #0056b3;
}
