body {
    font-family: 'Roboto', sans-serif;
    background-color: #9fceff;
    background-size: cover; /* Ajustar la imagen para cubrir todo el fondo */
    margin: 0;
    padding: 0;
    text-align: center;
}


.container {
    width: 80%;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.9); /* Hacer el fondo del contenedor un poco transparente */
    padding: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    border-radius: 10px;
    margin-top: 30px;
    padding-bottom: 50px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.container:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 30px rgba(0,0,0,0.2);
}


.location-text {
    text-align: center;
    color: #555;
    font-size: 18px;
    margin-bottom: 20px;
}

h1, h2 {
    text-align: center;
    color: #333;
    font-family: 'Montserrat', sans-serif;
}

.location-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.location-bar {
    width: 400px;
    height: 40px;
    background-color: #007bff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.location-icon {
    width: 25px;
    height: 25px;
    margin-right: 15px;
}

.search-bar input {
    width: 400px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding-left: 10px;
    box-sizing: border-box;
}

.map {
    height: 400px;
    width: 100%;
    margin-bottom: 20px;
}

.comments-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.comment {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
    margin: 10px 0;
    background-color: #f9f9f9;
    width: 80%;
    box-sizing: border-box;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.comment:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.report-area {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 1000;
}

.logo {
    width: 100px;
    height: auto;
}

.button-group {
    display: flex;
    gap: 10px;
    padding-right: 50px;
}

.blue-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.blue-button:hover {
    background-color: #0056b3;
}

/* Botones negros */
.black-button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
}

.black-button:hover {
    background-color: #555;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    transition: opacity 0.3s ease;
    align-items: center;
    justify-content: center;
}

/* Modal Content */
.modal-content {
    background: linear-gradient(to right, #ffffff, #e3e3e3);
    margin: auto;
    padding: 20px;
    border: none;
    width: 60%;
    max-width: 600px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    animation: slide-down 0.5s ease-out;
}

/* Keyframes for animation */
@keyframes slide-down {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Close Button */
.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.2s;
}

.close-button:hover,
.close-button:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Form Styles */
#reportForm {
    display: flex;
    flex-direction: column;
}

#reportForm label {
    margin: 10px 0 5px 0;
    font-weight: bold;
    color: #333;
}

#reportForm input[type="text"],
#reportForm textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
    transition: border 0.2s;
}

#reportForm input[type="text"]:focus,
#reportForm textarea:focus {
    border: 1px solid #007BFF;
    outline: none;
}

.star-rating {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    font-size: 2em;
    direction: rtl; /* Esto invierte el orden de las estrellas */
}

.star-rating input {
    display: none;
}

.star-rating label {
    color: #ccc;
    cursor: pointer;
    transition: color 0.2s;
}

.star-rating input:checked ~ label,
.star-rating label:hover,
.star-rating label:hover ~ label {
    color: #FFD700;
}

.star-rating input:checked ~ label {
    color: #FFD700;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
}

/* Asegurar que las estrellas se coloreen correctamente de izquierda a derecha */
.star-rating input:checked ~ label,
.star-rating input:checked ~ label ~ label {
    color: #FFD700;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.star-rating label:hover ~ label {
    color: #ccc;
}


/* Button Styles */
.black-button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
}

.black-button:hover {
    background-color: #555;
}

/* Additional Styles for Comments */
.comments-container .comment {
    background: #f9f9f9;
    padding: 15px;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
